{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <a class="b" href="https://www.srit.ac.in/">Home</a>
    <a class="b" href="https://www.srit.ac.in/contact-us/">Conatct</a>
    <a class="b" href="https://www.srit.ac.in/">Help</a>
    <a class="b" href="https://www.srit.ac.in/">About</a>

    <link rel="stylesheet" href="{% static 'stat/style.css' %}">
</head>
<hr>
<img src="{%  static 'images/srit.png'%}">

<body>
    <h1>Srinivasa Ramanujan Institute of technology</h1>
    <hr>
    <p class="ex"><b>(Autonomous)</b></p>

    
    
    <p id="se">Welcome to srit</p>
    

</body>
</html>