body {

    background-color: black
  }
  
  h1 {
    color: white;
    text-align: center;
    background-color: chocolate;
    
  }
  
 #se{
    font-family: sans-serif;
    font-size: 20px;
    color: bisque;
    text-align: center;
    background-color: darkmagenta;
  }

.ex{
    font-family: sans-serif;
    font-size: 20px;
    color: burlywood;
    text-align: center;
    background-color: brown
  }

  .b{
    color: white;
    text-decoration: none;
    background-color: brown;
    padding: 6px;
  }